/* .column {
    float: left;
    width: 50%;
} */

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }